body{
    margin: 0;
    padding: 0;
    background-color: rgb(11,20,22);
}
.padre{
    height: 10vh;
    width: 100vw;
    display: flex;

}
.padre .home .redes a i{
    color: white;
}
.menu nav ul li i{
    color: white;
}
.menu nav ul li .cositas li i{
    color: black;
}
#menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu{
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    left: 830px ;
    top: 30px;
}
.menu i{
    margin-top: 2px;
    margin-left: 3px;
}
#menu ul{
    display: none;
    position: absolute;
}
#menu li:hover ul {
    display: block;
}
#menu li{
    position: relative;
    list-style: none;
    right: 20px;
    top: 5px;
}
#menu li ul{
    width: 60px;
    top: 85%;
    left: 0px;
    transition: all 0.3 ease;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background-color: white;
}
#menu li:hover ul{
    opacity: 1;
    pointer-events: auto;
}
.cositas li{
    margin: 0;
    position: relative;
    right: 30px;
}
i{
    font-size: 20px;
    color: black;
}
li a{
    position: relative;
    right: 20px;
}
.p_menu{
    margin-left: 2px;
    font-size: 12px;
    position: relative;
    top: -20px;
    left: 5px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
}
.p_menu1{
    margin-left: 2px;
    font-size: 12px;
    position: relative;
    left: -20px;
    top: px;
    cursor: pointer;
    display: inline-block;
}
.home{
    width: 30%;
    height: 20%;
    position: relative;
    left: 10px;
    bottom: 35px;
}
.redes{
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    top: 75px;
    left: 290px;
}
.title{
    width: 90%;
}
.title h1{
    color: #fff;
    font-family: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
.padre .linea{
    width: 95%;
    left: 2.5%;
    
    bottom: 20px;
    position: absolute;
    border-bottom: 1px solid grey;
}
.search{
    width: 40%;
    height: 30px;
    position: absolute;
    left: 500px;
    top: 30px;
}
.search form{
    height: 40px;
}
.search label{
    width: 200px;
    height: 30px;
}
.search label i{
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom:15px ;
    border-radius: 20px;
    padding: 0 10px;
    background-color: rgb(26,40,45);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.search input{
    width: 80%;
    display: inline-block;
    position: relative;
    top: -38px;
    left: 30px;
    border: none;
    background-color: rgb(26,40,45);
    color: rgb(130,149,155);

}
.linea1{
    position: relative;
    width: 95%;
    border-bottom: 1px solid grey;
    left: 2.5%;
    top: 10px;
}
/* codigo del menu lateral */
.menu_lateral{
    position: relative;
    top: 30px;
    display: flex;
    width: 20vw;
    height: 80vh;
    flex-direction: column;
    font-family: 20px;
    border-right: 1px solid grey;
    color: white;
}
.menu_lateral .home{
    position: relative;
    top: 10px;
    left: 25%;
    padding-left: 1px;
}
.menu_lateral a i{
    color: white;

}
.menu_lateral .white{
    color: white;
}
.menu_lateral #white{
    color: white;
}
.menu_lateral li{
    font-size: 20px;
}
.menu_lateral .p_1{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.menu_lateral a{
    text-decoration: none;
    color: white;
}
.menu_lateral a i{
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.menu_lateral .home{
    display: flex;
    text-decoration: none;
}
.menu_lateral .menu1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: -70px;
}
.menu_lateral .menu1 ul li{
    list-style: none;
    margin-top: 20px;
}

.menu_lateral .importante{
    text-decoration: none;
}
.menu_lateral .menu2{
    position: relative;
    top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu_lateral .menu2 li{
    list-style: none;
    margin-top:20px ;
}

.menu_lateral .contribuidores{
    width: 100%;
    height: 30px;
    position: relative;
    top: 130px;
    left: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.footer{
    width: 20%;
    height: 10px;
    display: flex;
    position: relative;
    align-self: flex-end;
    top: 35px;
    left: 10px;
    color: white;
}
.footer footer{
    font-size: 10px;
}
.linea4{
    top: 8px;
    display: flex;
    width: 95%;
    position: relative;
    border-bottom: 1px solid grey;
    left: 2.5%;
}
.linea2{
    display: flex;
    width: 95%;
    position: relative;
    border-bottom: 1px solid grey;
    left: 2.5%;
    top: 110px;
}
/*Informaciones laterales */
.mover{
    display: flex;
    position: absolute;
    left: 300px;
    top: 100px;
}
.info{
    width: 700px;
    height: 150px;
    display:inline-flexbox;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(35, 68, 75);
    border-radius: 10px;
    color: white;
}
.info .h2 h2{
    display: block;
    position: relative;
    top: 2px;
    left: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info .p p{
    width: 500px;
    position: relative;
    left: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.info .boton {
    width: 200px;
    height: 150px;
    display: block;
    position: relative;
    left: 530px;
    bottom: 80px;
}
.info .boton a{
    color: white;
    text-decoration:none ;
}
.info .boton button{
    width: 130px;
    height: 35px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #2b6899;
    border: none;
    border-radius: 10px;
}
.comentarios{
    width: 800px;
    height: auto;
    display: inline-flex;
    position: absolute;
    left: 320px;
    top: 300px;
}
.comentarios .recientes{
    width: 400px;
    position: relative;
    border-radius: 10px;
    left: 10px;
    height: 280px;
    display: flexbox;
    background-color: rgb(4,9,10);
    border: #fff 1px solid;
}
.comentarios .destacados{
    width: 240px;
    border-radius: 10px;
    height: 280px;
    display: flexbox;
    background-color: rgb(4,9,10);
    position: absolute;
    left: 420px;
    top: 0px;
    border: #fff 1px solid;
}

.popular{
    width: 240px;
    border-radius: 10px;
    height: 420px;
    display: block;
    background-color: rgb(4,9,10);
    position: absolute;
    left: 1030px;
    top: 160px;
    border: #fff 1px solid;
}
.comentarios .recientes h3{
    position: absolute;
    top: -50px;
    left: 100px;
    color: #fff;
}
.comentarios .destacados h3{
    position: absolute;
    top: -50px;
    left: 20px;
    color: #fff;
}
 .popular h3{
    position: relative;
    top: -50px;
    left: 20px;
    color: #fff;
}
.comentarios .p p, .popular .p p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.comentarios .recientes .p{

    top: 35%;
    position: relative;
}
.comentarios .destacados .p{
    position: relative;
    top: 35%;
    left: 0.5%;
    width: 100%;
}
.popular .p{
    position: relative;
    top: 25%;
}
a{
    text-decoration: none;
}